body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d7f6de;
    font-family: Arial, sans-serif;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adjust the space between the buttons as needed */
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.login-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #58f37c;
    color: white;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #5ff5b4;
}

h2
{
	font-family: Arial, sans-serif;
    color: rgb(96, 93, 93);
}
img
{
    border-radius: 40%;
}