body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    /* background: linear-gradient(to right, #000428, #004e92); */
    background: linear-gradient(300deg, #cffde0, #dbe5c5, #d7f6de);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.textbox input::placeholder {
    color: rgba(96, 93, 93, 0.6); /* Placeholder text color */
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.login-box {
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: rgb(96, 93, 93);
}

.textbox {
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: rgb(96, 93, 93);
    font-size: 16px;
    outline: none;
}

.remember-forget {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-forget label {
    color: rgb(96, 93, 93);
}

.remember-forget a {
    color: rgb(96, 93, 93);
    text-decoration: none;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #5ef77a;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background: #74f4ab;
}

img
{
    border-radius: 40%;
}